* {
    box-sizing: border-box; 
    text-align: left;
}

body {
    background-color: #ffffff;
    background-image: url("../images/gravel.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 32px;
    margin: 0 auto;
    color: #777777;
    border: #dddddd;
}

a {
    color: #777777;
    text-decoration: none;
}

/* Hover the text link*/
a:hover {
    background-color: #4aaaa5;
    color: #cccccc;
}


/* Header Style Sheet */
header {
    margin: 0 auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    width: 100%; 
}

/* my name in the header */
.headername {
    position: relative;
    left: 0px;
    float: left;
    margin: 0 auto;
    top: 0px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}


/* Navigation in the header */
nav {
    float: right;
    padding-top: 20px;
    /* top:20px; */
    /* right:10px; */
    margin: 0 auto;
    /* padding: 0 auto; */
}


/* container in the div */
.container {
    background-color: #ffffff;
    margin: 0 auto;
    width: 960px; 
    height: 70px;
    position: relative;
    float: center;
}

/* main content */
section {
    clear: both;
    width: 960px; 
    height: 1000px;
    float: center;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #dddddd;
    background-color: #ffffff;
}


/* About me, picture, and one paragraph are in this container */
.container1 {
    clear: both;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
    float: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* Container2 is the second box */
.container2 {
    clear: both;
    background-color: #ffffff;
    margin: 0 auto;
    float: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}


/* Footer */
.container3 {
    position: relative;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    width: 100%; 
    margin: 0 auto;
    float: center;
    margin-top: 200px; 
    border-top: 10px solid #4aaaa5;
    padding-left: 50%;
    padding-top: 5%;
}

.copyrightmessage {
    position: absolute;
    bottom: 0;
    left: 45%;
    background-color: #666666;
    width: 30%;

}


/* About me line inside container1 */
#aboutme {
    text-align: left;
    border-bottom: 3px solid #cccccc;
    background-color: #ffffff;
    color: #4aaaa5;
    padding-bottom: 20px;
} 

/* My picture inside container1 */
#bio-picture {
    float: left;
    width: 35%;
    padding-right: 20px;
}

/* One paragraph inside container */
#introduction{
    float: left;
    width: 50%;
}

/* Input the name and email address */
input {
    width: 90%;
    margin-left: 0px;
    border-color: #cccccc;
}

/* Text area in contact.html */
textarea {
    width: 90%;
    border-color: #cccccc;
}

/* Setup the size of submit button */
.button {
    font-size: 20px;
    background-color: #4aaaa5;
    cursor: pointer;
    border: none;
    color: white;

    /* Make the button animation when it is hovered */
    animation: buttonAnimation 5s infinite paused;
}


/* Change the button color when the mouse was hovered over */
.button:hover{
   animation-play-state: running;
}

/* Button color changes in 5 seconds */
@keyframes buttonAnimation {

    0% {
        background-color: #4aaaa5;
        color: white;
    }

    50% {
        background-color: #4aaa4f;
        color: white;
    }

    100% {
        background-color: #aa4aa2;
        color: white;
    }
}



/* Do not clean the float before my portfolio icon */
.portfolio-container {
    float: left;
}

/* Clean the float before My Portfolio icon for the 2nd row */
.portfolio-container-2 {
    clear: both;
    overflow: auto;
    float: left;
}

img.portfolio {
    height: 200px; 
    width: 250px;
}

/* The first icon */
.portfolio-container1 {
    position: relative;
    text-align: center;
    color: white;
}

/* The 2nd icon */
.portfolio-container2 {
    position: relative;
    left: 20px;
    text-align: center;
    color: white;
}

/* the portfolio icon text alignment */
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: #4aaaa5;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}



/* 980px*/
@media screen and (max-width: 980px) {

    body {
         width: 100%;
    }

    /* Header Style Sheet */
    header {
        width: 100%; 
        height: 70px;   
    }


    /* my name in the header */
    .headername {
        left: 20px; 
    }


    /* Navigation in the header */
    nav {

        padding-right: 10%;
    }


    /* container in the div */
    .container {
        width: 100%; 
    }

    /* main content */
    section {
        float: left;
        width: 75%; 
        height: 100%;
        margin-left: 20px;
    }

    /* Do not clean the float before my portfolio icon */
    .portfolio-container {
        float: left;
    }

    /* Clean the float before My Portfolio icon for the 2nd row */
    .portfolio-container-2 {
        clear: both;
        overflow: auto;
        float: left;
    }

    img.portfolio {
        height: 200px; 
        width: 250px;
    }

    /* The first icon */
    .portfolio-container1 {
        position: relative;
        text-align: center;
        color: white;
    }

    /* The 2nd icon */
    .portfolio-container2 {
        position: relative;
        left: 20px;
        text-align: center;
        color: white;
    }

    /* the portfolio icon text alignment */
    .centered {
        position: absolute;
        top: 70%;
        left: 50%;
        background-color: #4aaaa5;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }


    /* Footer */

    footer {
        position: relative;
    }

    /* Footer's container */
    .container3 {
        position: relative;
        bottom: 0px;
        margin: 0 auto;
        float: center;
        margin-top: 1200px; 
    }

    .copyrightmessage {
        position: absolute;
        bottom: 0;
        left: 45%;
        background-color: #666666;
        width: 30%;

    }

}

/* 768px */
@media screen and (max-width: 768px) {

    body {
        width: 100%;
   }

    /* Header Style Sheet */
    header {
        width: 100%; 
        height: 70px;   
    }


    /* my name in the header */
    .headername {
        position: relative;
        left: 10px;
    }



    /* container in the div */
    .container {
        width: 100%; 
        /* left: 10px; */
    }

    /* main content */
    section {
        float: left;
        width: 90%; 
        height: 100%;
    }

    /* Do not clean the float before my portfolio icon */
    .portfolio-container {
        float: left;
    }

    /* Clean the float before My Portfolio icon for the 2nd row */
    .portfolio-container-2 {
        clear: both;
        overflow: auto;
        float: left;
    }

    img.portfolio {
        height: 150px; 
        width: 200px;
    }

    /* The first icon */
    .portfolio-container1 {
        position: relative;
        text-align: center;
        color: white;
    }

    /* The 2nd icon */
    .portfolio-container2 {
        position: relative;
        left: 20px;
        text-align: center;
        color: white;
    }

    /* the portfolio icon text alignment */
    .centered {
        position: absolute;
        top: 70%;
        left: 50%;
        background-color: #4aaaa5;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

        /* Footer */

        footer {
            position: relative;
        }
    
        /* Footer's container */
        .container3 {
            position: relative;
            bottom: 0px;
            margin: 0 auto;
            float: center;
            margin-top: 1500px; 
        }

        .copyrightmessage {
            position: absolute;
            bottom: 0;
            left: 45%;
            background-color: #666666;
            width: 30%;
    
        }

}

/* 640px */
@media screen and (max-width: 640px) {
    body {
        width: 100%;
        background-color: #ffffff;
    }

    .container {
        width: 100%;
    }

    .headername {
        width: 100%;
        left: 0;
    }



    .headernav {    
        clear: both;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #myname {
        text-align: center; 
    }

    nav {
        padding-right: 0;
        background-color: white;
        width: 100%;
    }

    section {
        width: 90%;
        height: 80%;
    }

    .container2{
        width: 80%;
    }
    #aboutme {
        width: 100%;
    }

    #bio-picture {
        width: 100%;
    }

    .container2 {
        width: 100%;
    }

    .portfolio-container {
        clear: both;
        float: left;
        width: 75%;
        padding-left: 30%;
    }

    .portfolio-container-2 {
        float: left;
        text-align: center;
        color: white;
        right: 10%;
        width: 75%;
        padding-left: 30%;
    }

    /* The 2nd icon */
    .portfolio-container2 {
    position: relative;
    text-align: center;
    color: white;
    left: 0;
}


    div.centered {
        left: 50%;
    }

    div.centered#portfolio2 {
        left: 50%;
    }

    div.centered#portfolio4 {
        left: 50%;
    }

    /* Portfolio1 Picture*/
    img#portfolio1.portfolio {
        width: 100%;
    }
    img#portfolio2.portfolio {
        width: 100%;
    }

    img#portfolio3.portfolio {
        width: 100%;
    }

    img#portfolio4.portfolio {
        width: 100%;
    }

    img#portfolio5.portfolio {
        width: 100%;
    }


    /* Footer's container */
    .container3 {

        position: relative;
        bottom: 0px;
        height: 50px;
        margin: 0 auto;
        float: center;
        margin-top: 1800px;  
    }

    .copyrightmessage {
        position: absolute;
        bottom: 0;
        left: 45%;
        background-color: #666666;
        width: 30%;

    }

}

/* clearfix is applied to the parent container to 'fix' the flow of the page */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }